In [22]:
#Import all packages/dependencies
import pandas as pd



#Import CSV dataset from UCI
eColi_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/ecoli/ecoli.data', header=None, sep="\s+")

In [23]:
eColi_df.columns=["seq_name", "mcg", "gvh", "lip", "chg", "aac", 'alm1', 'alm2', 'loc_site']
eColi_df.head()

     seq_name   mcg   gvh   lip  chg   aac  alm1  alm2 loc_site
0   AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35       cp
1  ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44       cp
2  ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46       cp
3  ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36       cp
4   ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35       cp